<!DOCTYPE html>
<html>
<head>
	<title>Puzzl</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet">
	<style type="text/css">
		body {
			font-family: 'Kiwi Maru', serif;
			margin: 0;
			overflow: hidden;
			user-select: none;
		}

		#debug {
			font-size: 1.5em;
			left: 1em;
			position: absolute;
		}
	</style>
</head>
<body>
	<canvas id="canvas"></canvas>
	<span id="debug">debug</span>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/index.js"></script>
</body>
</html>